<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front home</title>
</head>
<body>
    <header>
        <img src="car_logo.png" alt="Car logo" width="500" height="600">
        <nav>
            <ul>
               <li> <a href="/About Us/">About Us</a></li>
               <li> <a href="/Contact Us/">Contact Us</a> </li>
               <li><a href="/Terms and Conditions/">Terms and Conditions</a> </li>
               <li> <a href="/....../">......</a></li>
        </ul>
        </nav>
    </header>
</body>
</html>