<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">About Us</a>
                <a class="navbar-brand" href="#">Contact Us</a>
                <a class="navbar-brand" href="#">Terms and Conditions</a>
                <a class="navbar-brand" href="/car_list">Rent</a>
                <a class="navbar-brand" href="/logout">Log Out</a>
            </div>
        </nav>
        <h1>About us</h1>
        <p> That wonderful feeling – you start the engine and your adventure begins… At Axsosrent.com everything we do is about giving you the freedom to discover more. We’ll move mountains to find you the right rental car, and bring you a smooth, hassle-free
            experience from start to finish. Here you can find out more about how we work We want to make renting a car as simple and personal as driving your own. Renting a car brings you freedom, and we’ll help you find the right car for you at a great
            price. But there’s much more to us than that. We're here to make renting a car a lot less hassle.</p>

        <footer class="bg-primary text-white text-center text-lg-start col-12 bg-dark mt-md-4">
            <!-- Grid container -->
            <div class="container p-4 bg-dark">
                <!--Grid row-->
                <div class="row bg-dark">
                    <!--Grid column-->
                    <div class="col-12-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Contact Us</h5>
                        <p>
                            Phone number: 0599-9999-99
                        </p>
                        <p>
                            Email: info@rent-a-car.com
                        </p>
                    </div>
                </div>
                <!--Grid row-->
            </div>

        </footer>
    </div>

</body>

</html>