<!doctype html>
<html lang="en">

<head>
    <title>Add car</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #wrapper {
            width: 800px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
        }

        .form-control {
            width: 300px;
        }

        h1 {
            margin-bottom: 25px;
        }
    </style>
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">About Us</a>
          <a class="navbar-brand" href="#">Contact Us</a>
          <a class="navbar-brand" href="#">Terms and Conditions</a>
          <a class="navbar-brand" href="#">Log out</a>
          <a class="navbar-brand" href="#">......</a>
        </div>
      </nav>
</header>
<div id="wrapper">
    <form action="/Add" method="POST">
        <h1>Add Car</h1>
        <div class="form-group">
            <label for="">Model</label>
            <input type="text" class="form-control" name="Model" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">color</label>
            <input type="text" class="form-control" name="color" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Fule Type</label>
            <input type="text" class="form-control" name="Fule Type" id="" aria-describedby="emailHelpId" placeholder="">
        </div>
         <div class="form-group">
            <label for="">Year Production</label>
            <input type="text" class="form-control" name="Year Production" id="" aria-describedby="emailHelpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Gear Type</label>
            <input type="password" class="form-control" name="Gear Type" id="" placeholder="">
        </div>
        <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block>Upload Img</button>
    </form>
</div>
<footer class="bg-primary text-white text-center text-lg-start col-12 bg-dark">
    <!-- Grid container -->
    <div class="container p-4 bg-dark">
        <!--Grid row-->
        <div class="row bg-dark">
            <!--Grid column-->
            <div class="col-12-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <p>
                    Phone number: 0599-9999-99
                </p>

                
                <p>
                    Email: info@rent-a-car.com
                </p>
            </div>
        </div>
        <!--Grid row-->
    </div>
</div>

</footer>
</body>
</html>