<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">About Us</a>
                <a class="navbar-brand" href="#">Contact Us</a>
                <a class="navbar-brand" href="#">Terms and Conditions</a>
                <a class="navbar-brand" href="car_list">Rent</a>
                <a class="navbar-brand" href="/logout">Log out</a>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-6">
                <div class="mx-auto" style="width: 300px;">
                    <br>
                    <h1>Booking</h1>
                </div>
                <br>
                <form action="book" method="post">
                    {% csrf_token %}
                    <div class="mb-3 row ">
                        <label for="inputDays" class="col-sm-3 col-form-label">Number of days:</label>
                        <div class="col-7 ">
                            <input type="text" class="form-control" id="inputFirstname" Name="days">
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <label for="inputDays" class="col-sm-3 col-form-label ">Daily Price:</label>
                        <div class="col-7 ">
                            <p>{{thisCar.price}}</p>
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <label for="inputEmail" class="col-sm-3 col-form-label ">Total Cost:</label>
                        <div class="col-7 ">
                            <p>{{total_cost}}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary col-3 row justify-content-around">check price</button>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mx-auto" style="width: 300px;">
                    <br>
                    <h1>Booking</h1>
                </div>
                <br>
                <form action="book" method="post">
                    {% csrf_token %}
                    <div class="mb-3 row ">
                        <label for="inputDays" class="col-sm-3 col-form-label">Number of days:</label>
                        <div class="col-7 ">
                            <input type="text" class="form-control" id="inputFirstname" Name="days">
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <label for="inputDays" class="col-sm-3 col-form-label ">Daily Price:</label>
                        <div class="col-7 ">
                            <p>{{thisCar.price}}</p>
                        </div>
                    </div>
                    <div class="mb-3 row ">
                        <label for="inputEmail" class="col-sm-3 col-form-label ">Total Cost:</label>
                        <div class="col-7 ">
                            <p>{{total_cost}}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary col-3 row justify-content-around">check price</button>
                    </div>
                </form>
                <br>
                <br>
            </div>

            <footer class="bg-primary text-white text-center text-lg-start col-12 bg-dark">
                <!-- Grid container -->
                <div class="container p-4 bg-dark">
                    <!--Grid row-->
                    <div class="row bg-dark">
                        <!--Grid column-->
                        <div class="col-12-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Contact Us</h5>
                            <p>
                                Phone number: 0599-9999-99
                            </p>
                            <p>
                                Email: info@rent-a-car.com
                            </p>
                        </div>
                    </div>
                    <!--Grid row-->
                </div>

            </footer>
        </div>

</body>

</html>