<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #wrapper {
            width: 1000px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
        }

        .form-control {
            width: 300px;
        }

        h1 {
            margin-bottom: 25px;
        }
    </style>
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<div id="wrapper">
    <form action="/register" method="POST">
        <h1>Registration</h1>
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" name="first_name" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="" aria-describedby="helpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email" id="" aria-describedby="emailHelpId" placeholder="">
        </div>
         <div class="form-group">
            <label for="">Phone num</label>
            <input type="text" class="form-control" name="Phone Num" id="" aria-describedby="emailHelpId" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Confirm PW</label>
            <input type="password" class="form-control" name="confirm_pw" id="" placeholder="">
        </div>
        <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block>Register</button>
    </form>
    <form method="POST" action="/login">
        <h1>Login</h1>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="login_email" id="" aria-describedby="emailHelpId"
                placeholder="">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="login_password" id="" placeholder="">
        </div>
        <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block>Log In</button>
    </form>
</div>

</html>